<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jeopardy Search Engine</title>
    <link rel="stylesheet" type="text/css" href="static/Classes.css">
</head>

<body>
    <h1>Jeopardy Search Engine</h1>
    <form action="/search_results" method="post">
        <!-- All filters must be in the same form tag so that they can be sent successfully to the code -->
        <div>
            <h2>Filters: </h2>
        </div>

        &emsp;<div>
            <h3>Category: <input type="text" name="category"></h3>
        </div>
        &emsp;
        <div><h3>Year:</h3></div>
        <div>
            <input type="text" name="year" size="10" height="150">
        </div>
        &emsp;
        <div><h3>Month:</h3></div>
        <div>
            <select name="month">
                <option value="0">Select Month: </option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        &emsp;
        <div>
            <select name="date_type">
                <option value="">Select Day Filter:</option>
                <option value="w">Week of:</option>
                <option value="d">Day:</option>
            </select>
        </div>
        <div>
            <select name="day">
                <option value="0">Select Day Value:</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
        </div>
        &emsp;
        <div><h3>Difficulty:</h3></div>
        <div>
            <select name="value">
                <option value="0">Select Difficulty: </option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
            </select>
        </div>

        <h2> Search Terms: <input type="text" name="search_terms" size="100" height="150" required><br> </h2>
        <h3> Go to Page: <input type="number" name="page" value="1" min="1" max="19" required> </h3>
        <!-- The following 3 variables are required for the code to work, but are invalid for the first search, so they are made hidden for now -->
        <input type="hidden" name="old_results" value="">
        <input type="submit" value="Submit">
    </form>
    <p>
        Hello, and welcome to the Jeopardy Search Engine! Simply type in your search terms, and hit the Submit button to retrieve Jeopardy questions
        and answers that contain that search term. Each page search should take about 30 seconds to 2 minutes to perform depending on API data
        and computer specifications<br>
        <h2>Advanced Details on Each Field:</h2>
        <h3>Search Terms:</h3>
        The engine will return all question-answer (QA) pairs where the question and/or answer contains at least one of of the search terms. Each
        occurence of every search term will be bolded, whether occuring in the question or the answer. QA pairs within the same category are ordered
        based on the number of times each search term appears, with QA pairs containing more occurences of the search terms appearing on the top.
        However, between categories, QA pairs appear in the order of their category id, with QA pairs with lower category IDs appearing first. Inputting
        at least one search terms is required before a search can be done. Search terms are case insensitive.
        <h3>Go to Page:</h3>
        Since the API of Jeopardy questions has 18000+ categories to analyze, this engine searches by "page", where each page represents the search
        results of 1000 categories. For example, page 1 contains the results of categories with IDs 1-999, page 2 contains the results of categories
        with IDs 1000-1999, etc., with page 19 being the final page, which contains the results of categories with IDs 18000-18418. By default, your
        first search yields the results of page 1, but you can set the number to anything between 1-19. If you input anything else, the engine will
        not let you proceed.
        <h3>Category:</h3>
        Refers to the "title" variable found with each category. Search results will only be returned for that category if the user input equals the
        title variable. While user inputted category can be case insensitive, it must otherwise match the title variable in the original API exactly.
        <h3>Year:</h3>
        Refers to the year from the "airdate" variable found with each question. The QA pair will only be returned if the user inputted year matches the
        year from the original API exactly.
        <h3>Select Day Filter:</h3>
        Specific days can be searched by week or by day. Will be compared to the day from the "airdate" variable found with each question. If a day
        filter is selected without specifying a day value, no search results will be returned.
        <h3>Day:</h3>
        QA pair will only be returned if the user inputted day matches the day from the original API. While nonexsistent dates cannot be prevented
        when used with the Month filter (i.e. Feb 31), if they're inputted, then no search results will be returned.
        <h3>Week of:</h3>
        Similar to the Day filter, but will return results from the inputted day and the next 6 days. For example, if 12 is inputted, then QA pairs that
        match all the other inputted filters and have day values of 12, 13, 14, 15, 16, 17, or 18. If necessary, the acceptable day values will loop
        back to the beginning of the same month (i.e. if the user inputs October 30, the acceptable date values are Oct 30, Oct 31, Oct 1, Oct 2,
        Oct 3, Oct 4, and Oct 5).
        <h3>Select Day Value:</h3>
        Allows the value to be selected that will be used with either Day filter. If a day value is specified without selecting a day filter, the search
        will be returned with no day filter having been applied.
        <h3>Difficulty:</h3>
        Refers to the "value" variable found with each QA pair. The QA pair will only be returned if the user selected difficulty matches the value from
        the original API.
    </p>
    <footer class="footer">
        <p>Soham Nagaokar 2019</p>
    </footer>

</body>

</html>
